<template>
    <div class="Gifts">
        <h1>{{ theTitle }}</h1><hr>
        <p v-show="showme"> Inserte nombre</p>
        <input type="text" v-on:input="filter($event.target.value)">
        <p v-show="showbind"> Bindeado a {{ giftFilter }}</p>
        <hr>
        <gift-table :gifts= "visibleGifts" @eliminate="eliminateGift($event)" @order="changeOrder($event)"></gift-table>
        <app-input :msg="title" @messageChanged="title = $event"></app-input>
        <gift-new :curId="calculateId()" @newGift="addGift($event)"></gift-new>
    </div>
</template>

<script>
  import GiftTable from './GiftTable.vue';
  import Input from './Input.vue';
  import NewGift from './NewGift.vue';

  export default {
    name: 'Gifts',
    data() {
      return {
        showme: true,
        showbind: false,
        title: 'regalos',
        giftFilter: '',
        gifts: [{ name: 'Chocolate', price: 40, id: 1, category: 'Comida' }, { name: 'Anillo', price: 1700, id: 2, category: 'Joyas' }],
        curId: 0
      }
    },
    methods: {
      filter(value) {
        this.giftFilter = value;
        this.showme = false;
        this.showbind = true;
        if (!this.giftFilter) {
          this.showme = true;
          this.showbind = false;
        }
      },
      addGift(gift) {
        this.curId++;
        console.log(gift.name);
        this.gifts.push(gift);
      },
      calculateId() {
        for (var gift in this.gifts) {
          if (this.gifts[gift].id >= this.curId) {
            this.curId = this.gifts[gift].id + 1;
          }
        }
        return this.curId;
      },
      eliminateGift(id) {
        for (var gift in this.gifts) {
          
          if (this.gifts[gift].id == id) {
            this.gifts.splice(gift, 1);
          }
        }
      },
      changeOrder(p) {
        switch(p) {
          case 'name':
            this.gifts.sort((a, b) => (a.name > b.name) ? 1 : -1)
            break;
          case 'price':
            this.gifts.sort((a, b) => (a.price > b.price) ? 1 : -1)
            break;
          case 'category':
            this.gifts.sort((a, b) => (a.category > b.category) ? 1 : -1)
            break;
          case 'id':
            this.gifts.sort((a, b) => (a.id > b.id) ? 1 : -1)
            break;
        }
      },
      filterGifts(f) {
        let filtered = [];

        if (this.giftFilter != '') {
          for (var gift in this.gifts) {
            if (this.gifts[gift].name.startsWith(this.giftFilter)
            || this.gifts[gift].category.startsWith(this.giftFilter)
            || this.gifts[gift].price.toString().startsWith(this.giftFilter)
            || this.gifts[gift].id.toString() == this.giftFilter) {
              filtered.push(this.gifts[gift]);
            }
          }
        }
        else {
          filtered = this.gifts;
        }

        return filtered;
      }
    },
    computed: {
      theTitle() {
        return this.title.toUpperCase();
      },
      visibleGifts() {
        return this.filterGifts(this.giftFilter);
      }
    },
    components: {
        'app-input': Input,
        'gift-table': GiftTable,
        'gift-new': NewGift
    }
  }
</script>