<template>
    <div class="GiftTable">
      <h1>{{ title }}</h1>
      <ul>
        <li v-for="gift in gifts" v-bind:key="gift.id"> {{ gift.id }} - {{ gift.name }} - {{ gift.category }} </li>
      </ul>

      <table style="width:100%">
        <tr>
          <th v-on:click="sendOrder('id')">Id</th>
          <th v-on:click="sendOrder('name')">Nombre</th> 
          <th v-on:click="sendOrder('category')">Categoria</th>
          <th v-on:click="sendOrder('price')">Precio</th>
          <th>Eliminar</th>
          <th>Editar</th>
        </tr>
        <tr v-for="gift in gifts" v-bind:key="gift.id">
          <td>{{ gift.id }}</td>
          <td>{{ gift.name }}</td> 
          <td>{{ gift.category }}</td>
          <td>{{ gift.price }}</td>
          <td v-on:click="sendEliminate(gift.id)">X</td>
          <td>Editar</td>
        </tr>
      </table>
    </div>
</template>


<script>
export default {
  name: 'GiftTable',
  props: ['gifts'],
  data() {
    return {
        title: 'Lista de Regalos',
    };
  },
  methods: {
    sendEliminate(id) {
      this.$emit('eliminate', id);
    },
    sendOrder(value) {
      this.$emit('order', value);
    
    }
  },
  computed: {
    theTitle() {
      return this.title.toUppercase();
    },
  },
};
</script>
