<template>
    <div>
        <a>Nombre: </a><input type="text" v-on:input="changeName">
        <br>
        <a>Precio: </a><input type="number" min="1" v-on:input="changePrice">
        <br>
        <a>Categoria: </a><input type="text" v-on:input="changeCategory">
        <br><br>
        <button v-on:click="addGift">Agregar regalo</button>
    </div>
</template>

<script>
    export default {
        props: ['curId'],
        data() {
            return {
                name: '',
                price: '',
                category: '',
                gift: {}
            }
        },
        methods: {
            addGift(event) {
                console.log(this.name);
                this.$emit('newGift', this.newGift);
            },
            changeName(event) {
                this.name = event.target.value;
            },
            changePrice(event) {
                this.price = event.target.value;
                this.$emit('messageChanged', this.message);
            },
            changeCategory(event) {
                this.category = event.target.value;
                this.$emit('messageChanged', this.message);
            }
        },
        computed: {
            newGift() {
                return {
                    name: this.name,
                    price: this.price,
                    category: this.category,
                    id: this.curId
                }
            }
        }
    }
</script>